POSTGRES_CONTAINER=str
POSTGRES_USER=str
POSTGRES_PASSWORD=str
POSTGRES_DB=str
POSTGRES_HOST_PORT=num
POSTGRES_CONTAINER_PORT=num
POSTGRES_HOST=localhost

REDIS_CONTAINER=str
REDIS_URL=str
REDIS_HOST_PORT=num
REDIS_CONTAINER_PORT=num

SERVER_PORT=num
LOG_LEVEL=info
AUTH_JWT_SECRET=change-me-in-real-env
AUTH_SESSION_DAYS=1